---
import Hero from "../components/Hero.astro";
import MissionStatement from "../components/MissionStatement.astro";
import Navbar from "../components/Navbar/Navbar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<main class="dark:bg-black">
		<Navbar />
		<Hero />
		<MissionStatement />
	</main>
</Layout>
