---
import Layout from "../layouts/Layout.astro";
import BasicScripts from "../components/core/BasicScripts.astro";
---

<Layout>
	<main class="dark:bg-black">
		<button data-bup-toggle-color-scheme>Theme</button>
	</main>
	<BasicScripts />
</Layout>
