---
import BasicScripts from "../components/core/BasicScripts.astro";
import FontAwesome from "../components/imports/FontAwesome.astro";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<FontAwesome />
		<meta name="generator" content={Astro.generator} />

		<title></title>
	</head>
	<body class="dark:text-slate-200 dark:bg-black overflow-x-hidden">
		<slot />
		<BasicScripts />
	</body>
</html>
